[class^="zmdi-"], [class*=" zmdi-"] {
	font-family: 'Material-Design-Iconic-Font';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}