{% load cms_tags menu_tags sekizai_tags staticfiles%}
<!doctype html>
<html>
<head>
    <title>{% block title %}Do You Need a Car Now{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'car-icon-16-185082.png' %}">
    <link rel='stylesheet' id='cms-plugin-stylesheet-css'  href="{% static 'wp-content/plugins/cmssuperheroesv2/assets/css/cms-style341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href="{% static 'wp-content/plugins/contact-form-7/includes/css/styles33a6.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'  href="{% static 'wp-content/plugins/woocommerce/assets/css/woocommerce-layoutdeae.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'  href="{% static 'wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreendeae.css'%}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'  href="{% static 'wp-content/plugins/woocommerce/assets/css/woocommercedeae.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='ball-clip-rotate-multiple.css-css'  href="{% static 'wp-content/plugins/flex-schedule/assets/css/ball-clip-rotate-multiple341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='fs-preloader.css-css'  href="{% static 'wp-content/plugins/flex-store-compare/assets/css/fs-preloader341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='fsCompare.css-css'  href="{% static 'wp-content/plugins/flex-store-compare/assets/css/fsCompare341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css'  href="{% static 'wp-content/themes/autosmart/assets/css/bootstrap.mind617.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href="{% static 'wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.minc225.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'  href="{% static 'wp-content/themes/autosmart/assets/css/magnific-popup8a54.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='font-material-icon-css'  href="{% static 'wp-content/themes/autosmart/assets/css/material-design-iconic-font.minb2f9.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='cms-font-css'  href="{% static 'wp-content/themes/autosmart/assets/css/fonts5152.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='autosmart-style-css'  href="{% static 'wp-content/themes/autosmart/style341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='cmssuperheroes-pe-icon-css'  href="{% static 'wp-content/themes/autosmart/assets/css/pe-icon-7-strokef269.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='static-css'  href="{% static 'wp-content/themes/autosmart/assets/css/static8a54.css'%}" type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/jqueryb8ff.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/jquery-migrate.min330a.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store/boot/assets/js/plugin-config8a54.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mindeae.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cartc225.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/bootstrap.mind617.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/jquery.magnific-popup.min8a54.js'%}"></script>
    {% block primary_styles %}
    {% endblock primary_styles %}
    {% render_block "css" %}
</head>
{% cms_toolbar %}
<header id="masthead" class="site-header">
    <div id="cshero-header-inner" class="header-1  sticky-desktop">
        <div id="cshero-header-wrapper">
            <div id="cshero-header" class="cshero-main-header">
                <div class="container">
                    <div class="row">
                        <div id="cshero-header-logo" class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
                            <a class="main-logo" href="{% url 'home' %}">
                                {% static_placeholder 'Logo' %}
                            </a>

                        </div><!-- #site-logo -->
                        <div id="cshero-header-navigation" class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
                            <div class="cshero-header-search-vehicles right">

                            </div>
                            <div class="cshero-header-navigation-inner clearfix">
                                <div id="cshero-header-navigation-primary" class="cshero-header-navigation">
                                    <nav id="site-navigation" class="main-navigation">
                                        <div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav-menu menu-main-menu"><li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children no_group menu-item-7" data-depth="0"><a href="{% url 'home' %}" class=""><span class="menu-title">Home</span></a>
                                            <ul class='standard' style="">
                                            </ul>
                                        </li>
                                            <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no_group menu-item-8" data-depth="0"><a href="{% url 'car_list' %}" class=""><span class="menu-title">Car Directory</span></a>
                                            </li>
                                            <li id="menu-item-944" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has_full_width no_group menu-item-944" data-depth="0"><a href="" class=""><span class="menu-title">Classifieds</span></a>
                                                <ul class='multicolumn columns4 drop_full_width sub-menu' style="">
                                                    <li id="menu-item-1721" class="menu-item menu-item-type-post_type menu-item-object-page no_group w24 menu-bg-gray menu-item-1721" data-depth="1"><a href="" class=""><span class="menu-title">Recent Cars</span></a><aside id="fss_featured_wg-3" class="widget fss_featured_wg"><div class="fs-carousel" data-nav="1" data-dots="1" data-autoplay="0" data-loop="1" data-item-xs="1" data-item-sm="1" data-item-md="1" data-item-lg="1" data-margin="30">
                                                        {% for car in last_three %}
                                                            <div class="fss-featured-ads-item">
                                                                <div class="fss-featured-ads-item-inner">
                                                                    <div class="fss-featured-ads-media">
                                                                        <a href="{{ car.1.first.image.url }}"><img width="624" height="380" src="{{ car.1.first.image.url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="" sizes="(max-width: 624px) 100vw, 624px" /></a>
                                                                    </div>
                                                                    <div class="fss-featured-ads-holder">
                                                                        <span class="fss-featured-ads-favorite fs-favor " data-id="1205"><i class="zmdi zmdi-star-outline"></i></span>
                                                                        <h3><a href="{% url 'car_detail' pk=car.0.id %}">{{ car.0.name }}</a></h3>
                                                                        <div class="fss-featured-ads-engine">{{ car.0.year }}</div>
                                                                        <div class="fss-featured-ads-price">{% if car.0.price == None %}Call me for price{% else %}$ {{ car.0.price|floatformat:0 }}{% endif %}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    </aside></li>
                                                    <li id="menu-item-1722" class="menu-item menu-item-type-post_type menu-item-object-page no_group w36 menu-item-1722" data-depth="1"><a href="" class=""><span class="menu-title">Search by Manufacturer</span></a><aside id="fss_single_widget-12" class="widget fss_single_wg">    <div class="fss-manu-head">
                                                        <div class="fss-manu-title"></div>
                                                    </div>
                                                        <div class="fss-manu-contents clearfix">
                                                            {% for manufacturer in manufacturer_list %}
                                                                <a class="fss-manu-item"
                                                                   href="{% url 'car_list' %}?manufacturer={{ manufacturer.id }}">
                                                                    <div class="fss-manu-item-logo"><img src="{{ manufacturer.image.url }}" alt="logo"></div>
                                                                    <div class="fss-manu-item-name">{{ manufacturer.name }}</div>
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </aside></li>
                                                    <li id="menu-item-1722" class="menu-item menu-item-type-post_type menu-item-object-page no_group w36 menu-item-1722" data-depth="1"><a href="" class=""><span class="menu-title">Search by Category</span></a><aside id="fss_single_widget-12" class="widget fss_single_wg">    <div class="fss-manu-head">
                                                        <div class="fss-manu-title"></div>
                                                    </div>
                                                        <div class="fss-manu-contents clearfix">
                                                            {% for category in category_list %}
                                                                <a class="fss-manu-item"
                                                                   href="{% url 'car_list' %}?category={{ category.id }}">
                                                                    <div class="fss-cate-item-name">{{ category.name }}</div>
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </aside></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-12" data-depth="0"><a href="{% url 'contact' %}" class=""><span class="menu-title">Contact</span></a></li>
                                        </ul></div></nav><!-- #site-navigation -->
                                </div>
                            </div>
                        </div>
                        <div id="cshero-menu-mobile">
                            <i class="open-menu zmdi zmdi-menu"></i>
                        </div><!-- #menu-mobile -->
                    </div>
                </div>
            </div>
            <div id="cshero-header-topbar" class="hidden-sm hidden-xs">
                <div class="container">
                    <div class="cshero-header-topbar-inner clearfix">
                        <ul class="cshero-header-contact-top pull-left">
                            <li class="top-mail">
                                <a href="{% url 'contact' %}"><i class="zmdi zmdi-email"></i>{{ manager.email }}</a></li>

                            <li><i class="zmdi zmdi-phone"></i>{{ manager.phone_number }}</li>

                        </ul>
                        <ul class="cshero-header-contact-top pull-right">
                            <li><a href="{{ manager.facebook }}"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="{{ manager.instagram }}"><i class="fa fa-instagram"></i>Instagram</a></li>
                            <li><a href="{{ manager.twitter }}"><i class="fa fa-twitter"></i>Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>    </header>
{% block content %}{% endblock content %}
{% render_block "js" %}
{% block secundary_styles %}
{% endblock secundary_styles %}
<footer id="colophon" class="site-footer cms-footer1 width_column_change">
    <div id="cms-footer-top">
        <div class="container">
            <div class="row">
                <div class="cms-footer-top-item text-center-xs text-center-sm cms-col-5"><aside id="text-2" class="widget widget_text"><a class="header-logo" href="{% url 'home' %}">
                    {% static_placeholder 'Logo' %}
                </a><div class="textwidget">
                    <p class="about-text" style= "text-align: justify">Find your dream car with DO YOU NEED A CAR NOW. You’re bound to find the perfect car with DO YOU NEED A CAR NOW, our powerful search system lets you fine tune your search to exactly what you’re looking for. Don't waste your time, we'll find the vehicle you're looking for.</p>
                    <div class="contact-footer">
                        <i class="zmdi zmdi-email"></i>{{ manager.email }}<br/>
                        <i class="zmdi zmdi-phone"></i>{{ manager.phone_number }}<br/></div></div>
                </aside></div><div class="cms-footer-top-item text-center-xs text-center-sm cms-col-5"><aside id="nav_menu-2" class="widget widget_nav_menu"><h3 class="wg-title"><center>ARE YOU LOOKING FOR A CAR?</center></h3><div class="menu-menu-classifieds-container"><ul id="menu-menu-classifieds" class="menu">
                <p><center>Search our Inventory with many of Cars and more cars are adding on daily basis</center></p>
                <a href="{% url 'car_list' %}">
                    <span class="btn-text"><span><center>VIEW INVENTARY</center></span></span>
                </a>
            </ul></div></aside></div><div class="cms-footer-top-item text-center-xs text-center-sm cms-col-5"><aside id="text-3" class="widget widget_text"><h3 class="wg-title"><center>USEFUL LINKS</center></h3>
                <div class="textwidget">
                    <center><a href="{%  url 'car_list' %}">Car Directory</a></center>
                    <ul class="cshero-header-contact-top">
                        <li><center><a href="https://www.facebook.com/doyouneedacarnow"><i class="fa fa-facebook"></i> Facebook</a></center></li>
                        <li><center><a href="https://www.instagram.com/doyouneedacar_now/"><i class="fa fa-instagram"></i> Instagram</a></center></li>
                        <li><center><a href="https://twitter.com/DoyouneedacarN"><i class="fa fa-twitter"></i> Twitter</a></center></li>
                    </ul>
                    <center><a href="{%  url 'contact' %}">Contact Me</a></center>
                </div>
            </aside></div><div class="cms-footer-top-item text-center-xs text-center-sm cms-col-5"><aside id="text-4" class="widget widget_text"><h3 class="wg-title">Opening Times</h3>
                <div class="textwidget">Mon - Fri: &nbsp;&nbsp;<span class="ft-mgr">9:00am - 9:00pm</span><br/>
                Saturday: &nbsp;<span  class="ft-mgr">9:00am - 9:00pm</span><br/>
                Sunday: &nbsp;&nbsp;&nbsp;&nbsp;<span  class="ft-mgr">12:00pm - 6:00pm</span></div>
            </aside></div><div class="cms-footer-top-item text-center-xs text-center-sm cms-col-5"><aside id="text-5" class="widget widget_text">			<div class="textwidget">
                <div class="cs_extra_map">
                    {% static_placeholder 'footer-map' %}
                </div>
            </div>
            </aside></div>
            </div>
        </div>
    </div>
    <div id="cms-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="cms-footer-bottom-item2 text-right pt-xs-10 text-center-xs col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="social-footer-bottom">
                        <li><a href="{{ manager.facebook }}"><i class="fa fa-facebook"></i></a></li><li><a href="{{ manager.twitter }}"><i class="fa fa-twitter"></i></a></li><li><a href="{{ manager.instagram }}"><i class="fa fa-instagram"></i></a></li></ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- .site-footer -->
<div id="back_to_top" class="back_to_top"><span class="go_up"><i class="fa fa-angle-up"></i></span></div>
<link rel='stylesheet' id='owl-carousel-cms-css'  href="{% static 'wp-content/themes/autosmart/assets/css/owl.carousel341d.css'%}" type='text/css' />
<script type='text/javascript' src="{% static 'wp-content/plugins/contact-form-7/includes/js/scripts33a6.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mindeae.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mindeae.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/flex-schedule/assets/js/fs-schedule-cardc98.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-compare/assets/js/fsComparedc98.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-favor/assets/js/fsfavor341d.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/core.mine899.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/widget.mine899.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/mouse.mine899.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/draggable.mine899.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-search/assets/js/fs_search_frontenddc98.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/sidebar-scroll-fixed8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/main8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/menu8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/jquery.matchHeight-min8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/enscroll8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/cms_parallax8a54.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/droppable.mine899.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-includes/js/wp-embed.min341d.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/pace.min20b9.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/owl.carousel.min5152.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/jquery.fs-carousel5152.js'%}"></script>
<script type='text/javascript' src="{% static 'wp-content/plugins/js_composer/assets/js/dist/js_composer_front.minc225.js'%}"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZdXfVsohKBEzjH0da36ub3McdkZBTSBQ"></script>
<script>
    $(document).ready(function(){
        $("#boton").click(function(){
            $("#fss-refine-meta_price").attr("value",$("#fss-refine-meta_price").attr("data-price"));
            $("#fss-refine-year").attr("value",$("#fss-refine-year").attr("data-year"));p
        });
    });
</script>
</html>
