{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles%}

{% block primary_styles %}
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="xmlrpc.php"/>
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demo.cmssuperheroes.com\/themeforest\/autosmart\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.5"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='animate.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/animate341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui.min.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/jquery-ui.min341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='fs_search_frontend.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/fs_search_frontend341d.css'%}" type='text/css' media='all' />
    <style id='static-inline-css' type='text/css'>
        body #cms-page-title {
            padding-top: ;
        }body #cms-page-title {
             padding-bottom: ;
         }body #cms-content.site-content {
              padding-top: 0;
          }body #cms-content.site-content {
               padding-bottom: 0;
           }
    </style>
    <link rel='stylesheet' id='newsletter-subscription-css'  href="{% static 'wp-content/plugins/newsletter/subscription/styled6ea.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href="{% static 'wp-content/plugins/js_composer/assets/css/js_composer.minc225.css'%}" type='text/css' media='all' />
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
{% endblock primary_styles %}

{% block content %}
    <style type="text/css" title="dynamic-css" class="options-output">.cshero-header-navigation .main-navigation .menu-main-menu li a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{opacity: 0;}.ie.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{visibility: hidden;}a{color:#dc0000;}a:hover{color:#bd0000;}body, body .ft-normal{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body, body .ft-normal,{opacity: 0;}.ie.wf-loading body, body .ft-normal,{visibility: hidden;}h1{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,{opacity: 0;}.ie.wf-loading h1,{visibility: hidden;}h2{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h2,{opacity: 0;}.ie.wf-loading h2,{visibility: hidden;}h3{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h3,{opacity: 0;}.ie.wf-loading h3,{visibility: hidden;}h4{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h4,{opacity: 0;}.ie.wf-loading h4,{visibility: hidden;}h5{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h5,{opacity: 0;}.ie.wf-loading h5,{visibility: hidden;}h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h6,{opacity: 0;}.ie.wf-loading h6,{visibility: hidden;}</style><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1497061274868{padding-top: 75px !important;}.vc_custom_1497062190318{padding-top: 0px !important;padding-right: 60px !important;}.vc_custom_1497062116150{padding-top: 0px !important;padding-left: 50px !important;}.vc_custom_1497061470621{margin-bottom: 10px !important;}.vc_custom_1497062276026{padding-top: 0px !important;}.vc_custom_1497062288712{padding-top: 0px !important;}.vc_custom_1497062299626{padding-top: 0px !important;}.vc_custom_1497061841625{margin-bottom: 8px !important;}.vc_custom_1497061854954{margin-bottom: 8px !important;}.vc_custom_1497061861166{margin-bottom: 8px !important;}.vc_custom_1497062476237{padding-top: 0px !important;}.vc_custom_1497062909812{padding-right: 140px !important;}.vc_custom_1497063052968{margin-right: -30px !important;margin-left: -30px !important;padding-right: 140px !important;}.vc_custom_1497063308793{padding-top: 0px !important;}.vc_custom_1497063317254{padding-top: 0px !important;}.vc_custom_1497062435856{margin-bottom: 10px !important;}.vc_custom_1497063232614{padding-top: 0px !important;padding-right: 30px !important;padding-left: 30px !important;}.vc_custom_1497063236677{padding-top: 0px !important;padding-right: 30px !important;padding-left: 30px !important;}.vc_custom_1497063240476{padding-top: 0px !important;padding-right: 30px !important;padding-left: 30px !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
    <body id="cms-theme" class="page-template-default page page-id-9 blog-type-content wpb-js-composer js-comp-ver-5.4.1 vc_responsive">
    <div id="page-wrapper" class="hfeed site  cs-wide  cms-page-in clearfix">
        <div id="cms-content" class="site-content">
            <div id="primary" class="container is-no-sidebar">
                <div class="row">
                    <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="main" class="site-main">
                            <article id="post-9" class="post-9 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                                        {% placeholder 'Houston Map' %}
                                    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1497061274868"><div class="rm-padding-sm rm-padding-xs wpb_column vc_column_container vc_col-sm-7"><div class="vc_column-inner vc_custom_1497062190318"><div class="wpb_wrapper">
                                    <h3 style="font-size: 24px;line-height: 40px;text-align: left" class="  vc_custom_heading vc_custom_1497061470621"><span style="letter-spacing: 0.01em">GET IN TOUCH</span></h3><p style="font-size: 16px;line-height: 28px;text-align: left" class=" ft-mgr vc_custom_heading"><span style="letter-spacing: 0.01em">Any questions or comments that you want to make do not hesitate to call us at the following number or write us to the mail.</span></p>
                                    <div class="vc_column-inner vc_custom_1497062276026"><div class="wpb_wrapper">


                                    </div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-4 vc_col-xs-12"><div class="vc_column-inner vc_custom_1497062288712"><div class="wpb_wrapper"><h3 style="font-size: 18px;line-height: 40px;text-align: left" class="  vc_custom_heading color-primary vc_custom_1497061854954"><span style="letter-spacing: 0.01em">CONTACT</span></h3>
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html fs-medium" >
                                            <div class="wpb_wrapper">
                                                {{ manager.email }}<br/>
                                                {{ manager.phone_number }}
                                            </div>
                                        </div>
                                        <div class="vc_empty_space"   style="height: 35px" ><span class="vc_empty_space_inner"></span></div>
                                    </div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-4 vc_col-xs-12"><div class="vc_column-inner vc_custom_1497062299626"><div class="wpb_wrapper"><h3 style="font-size: 18px;line-height: 40px;text-align: left" class="  vc_custom_heading color-primary vc_custom_1497061861166"><span style="letter-spacing: 0.01em">OPEN TIMES</span></h3>
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html fs-medium" >
                                            <div class="wpb_wrapper">
                                                Mon - Fri: 		<span class="ft-normal">9:00am - 9:00pm</span><br/>
                                                Saturday: 		<span class="ft-normal">9:00am - 9:00pm</span><br/>
                                                Sunday: 		<span class="ft-normal">12:00pm - 6:00pm</span>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space"   style="height: 35px" ><span class="vc_empty_space_inner"></span></div>
                                    </div></div></div><div class="vc_empty_space"   style="height: 25px" ><span class="vc_empty_space_inner"></span></div>
                                    <div role="form" class="wpcf7" id="wpcf7-f4-p9-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="" method="post">{% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Send message" />
                                        </form>
                                    </div><div class="vc_empty_space"   style="height: 35px" ><span class="vc_empty_space_inner"></span></div>
                                </div></div></div><div class="rm-padding-sm rm-padding-xs wpb_column vc_column_container vc_col-sm-5"><div class="vc_column-inner vc_custom_1497062116150"><div class="wpb_wrapper"><div id="cms-single-image" class="cms-single-image">
                                    <div class="cms-single-image-inner style1">
                                        <img src="{% static 'wp-content/uploads/2017/05/contact-image1-1.jpg'%}" />
                                        <div class="cms-single-image-description">You’re bound to find the perfect car with DO YOU NEED A CAR NOW. Don't waste your time, we'll find the vehicle you're looking for.</div>
                                    </div>
                                </div><div class="vc_empty_space"   style="height: 62px" ><span class="vc_empty_space_inner"></span></div>
                                </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1497062476237"><div class="wpb_wrapper"><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text" ><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span>
                                </div><div class="vc_empty_space"   style="height: 48px" ><span class="vc_empty_space_inner"></span></div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid rm-padding-xs rm-padding-sm vc_custom_1497062909812">
                                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-6 vc_col-xs-12">
                                            <div class="vc_column-inner vc_custom_1497063308793">
                                                <div class="wpb_wrapper">
                                                    <h3 style="font-size: 24px;line-height: 40px;text-align: left" class="  vc_custom_heading vc_custom_1497062435856">
                                                        <span style="letter-spacing: 0.01em">KEY SALES CONTACT</span>
                                                    </h3>

                                                    <p style="font-size: 16px;line-height: 28px;text-align: justify" class=" ft-mgr vc_custom_heading">
                                                        <span style="letter-spacing: 0.01em">
                                                            Remember that we are located in Houston, Texas and we have prices like which you can not miss.
                                                            For any procedure you can contact me to give you the information you need and help you to find the vehicle you are looking for.
                                                        </span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-6 vc_col-xs-12">

                                            <div class="vc_column-inner vc_custom_1497063232614">
                                                <div class="wpb_wrapper">
                                                    <div id="cms-team" class="cms-team">
                                                        <div class="cms-team-inner">
                                                            <div class="cms-team-image">
                                                                <img src="{{ manager.photo.url }}" alt="" />
                                                            </div>
                                                            <div class="cms-team-content">
                                                                <div class="cms-team-holder ft-normal">
                                                                    <div class="cms-team-holder1 clearfix">
                                                                        <h3 class="cms-team-title left">{{ manager.name }}</h3>
                                                                        <a href="mailto:mike@autosmart.co.uk" class="cms-team-email right"><i class="zmdi zmdi-email"></i>{{ manager.email }}</a>
                                                                    </div>
                                                                    <div class="cms-team-holder2 clearfix">
                                                                        <span class="cms-team-position left">{{ manager.job }}</span>
                                                                        <span class="cms-team-phone right"><i class="zmdi zmdi-phone"></i>{{ manager.phone_number }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="cms-team-description">{{ manager.name }}: "I will help you to find the vehicle you're looking for"</div>
                                                            </div>
                                                        </div>
                                                    </div><div class="vc_empty_space"   style="height: 35px" ><span class="vc_empty_space_inner"></span></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid rm-padding-xs rm-padding-sm vc_custom_1497063052968">

                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>

                                </div><!-- .entry-content -->
                                <footer class="entry-meta">


                                </footer><!-- .entry-meta -->
                            </article><!-- #post -->

                        </main><!-- .site-main -->
                    </div>
                </div>
            </div><!-- .content-area -->

        </div><!-- .site-content -->
    </div><!-- .site -->
    <div id="back_to_top" class="back_to_top"><span class="go_up"><i class="fa fa-angle-up"></i></span></div>
    </body>
{% endblock content %}

{% block secundary_styles %}
    <link property="stylesheet" rel='stylesheet' id='vc_google_fonts_abril_fatfaceregular-css'  href='http://fonts.googleapis.com/css?family=Abril+Fatface%3Aregular&amp;ver=4.8.5' type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/slider.mine899.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/jquery.ui.touch-punchc682.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/newsletter/subscription/validated6ea.js'%}"></script>
{% endblock secundary_styles %}
