{% extends 'base.html' %}
{% load staticfiles %}

{% block primary_styles %}
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="xmlrpc.php"/>
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demo.cmssuperheroes.com\/themeforest\/autosmart\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.5"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='cms-flexslider-css'  href="{% static 'wp-content/themes/autosmart/assets/css/flexslider6fca.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui-datepicker-css-css'  href="{% static 'wp-content/plugins/flex-store/assets/css/jquery.datetimepicker341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='animate.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/animate341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui.min.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/jquery-ui.min341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='fs_search_frontend.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/fs_search_frontend341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='newsletter-subscription-css'  href="{% static 'wp-content/plugins/newsletter/subscription/styled6ea.css'%}" type='text/css' media='all' />
    <link rel='https://api.w.org/' href='index52f0.json?rest_route=/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='2016 BMW X5M' href='indexdc8e.html?fs_product=adasdas' />
    <link rel='next' title='2017 Nissan GT-R' href='indexfbe5.html?fs_product=mercedes-benz-amg-4-0-gt-s-speedshift-dct-2dr' />
    <link rel="canonical" href="index1a93.html?fs_product=mercedes-c63-s-cabriolet-premium-night-package-performance-exhaust-forged-20-19-amg-wheels-2017" />
    <link rel='shortlink' href='indexc3ba.html?p=372' />
    <link rel="alternate" type="application/json+oembed" href="index0d8b.json?rest_route=%2Foembed%2F1.0%2Fembed&amp;url=http%3A%2F%2Fdemo.cmssuperheroes.com%2Fthemeforest%2Fautosmart%2F%3Ffs_product%3Dmercedes-c63-s-cabriolet-premium-night-package-performance-exhaust-forged-20-19-amg-wheels-2017" />
    <link rel="alternate" type="text/xml+oembed" href="index2105.php?rest_route=%2Foembed%2F1.0%2Fembed&amp;url=http%3A%2F%2Fdemo.cmssuperheroes.com%2Fthemeforest%2Fautosmart%2F%3Ffs_product%3Dmercedes-c63-s-cabriolet-premium-night-package-performance-exhaust-forged-20-19-amg-wheels-2017&amp;format=xml" />
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
{% endblock primary_styles %}
{% block content %}
    <style type="text/css" title="dynamic-css" class="options-output">.cshero-header-navigation .main-navigation .menu-main-menu li a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{opacity: 0;}.ie.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{visibility: hidden;}a{color:#dc0000;}a:hover{color:#bd0000;}body, body .ft-normal{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body, body .ft-normal,{opacity: 0;}.ie.wf-loading body, body .ft-normal,{visibility: hidden;}h1{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,{opacity: 0;}.ie.wf-loading h1,{visibility: hidden;}h2{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h2,{opacity: 0;}.ie.wf-loading h2,{visibility: hidden;}h3{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h3,{opacity: 0;}.ie.wf-loading h3,{visibility: hidden;}h4{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h4,{opacity: 0;}.ie.wf-loading h4,{visibility: hidden;}h5{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h5,{opacity: 0;}.ie.wf-loading h5,{visibility: hidden;}h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h6,{opacity: 0;}.ie.wf-loading h6,{visibility: hidden;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
    <body id="cms-theme" class="fs_product-template-default single single-fs_product postid-372 blog-type-content wpb-js-composer js-comp-ver-5.4.1 vc_responsive">
    <div id="page-wrapper"
         class="hfeed site  cs-wide  cms-page-in clearfix">

        <div id="cms-page-title" class="page-title page-title-fs-details text-left parallax" data-parallax="880"
             style="background-image: url({% static 'background.jpg'%})">
            <div class="container">
                <div class="row cms-flex-wrap">
                    <div class="cms-page-title-inner col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center-sm text-center-xs">
                        <h1>{{ car.name }}</h1>
                    </div>
                    <div class="cms-page-title-price cms-flex-center col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right text-center-sm">{% if car.price == None %}Call me for price{% else %}$ {{ car.price|floatformat:0 }}{% endif %}</div>
                </div>
            </div>
        </div>
        <div id="cms-content" class="site-content">
            <div id="primary" class="container is-right-sidebar">
                <div class="row">
                    <div id="content" class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                        <main id="main" class="site-main" role="main">
                            <div class="single-vehicle-wrapper fs-vehicle-bxslider">
                                <div class="cms-vehicle-images">
                                    <div class="cms-vehicle-slider flexslider">
                                        <ul class="slides cms-images-zoom">
                                            {% for image in car_images %}
                                                <li>
                                                    <a class="z-view"
                                                       href="{{ image.image.url }}"
                                                       style="background-image: url({{ image.image.url }});"></a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="single-image-zoom-trigger cms-vehicle-icon-zoom zmdi zmdi-fullscreen"></span>
                                        <span class="single-image-zoom-trigger cms-vehicle-gallery-count"><i
                                                class="zmdi zmdi-collection-image-o"></i>{{ car_images.count }}</span>
                                    </div>
                                    <div id="cms-vehicle-thumbnail" class="flexslider">
                                        <ul class="slides">
                                            {% for image in car_images %}
                                                <li>
                                                    <span style="background-image: url({{ image.image.url }});"></span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-vehicle-parameter">
                                    <ul class="clearfix">
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <span class="icon-mi"></span>
                                                </div>
                                                <div class="media-body">
                                                    <span>{{ car.mileage }}</span>
                                                    <p>Mileage</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <span class="fa fa-calendar-o"></span>
                                                </div>
                                                <div class="media-body">
                                                    <span>{{ car.year }}</span>
                                                    <p>Year</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <span class="icon-fu"></span>
                                                </div>
                                                <div class="media-body">
                                                    <span>{{ car.get_fuel_type }}</span>
                                                    <p>Fuel</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <span class="icon-ge"></span>
                                                </div>
                                                <div class="media-body">
                                                    <span>{{ car.get_transmission }}</span>
                                                    <p>Transmission</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="single-vehicle-content">

                                    <div class="single-vehicle-content-top row">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center-sm text-center-xs">
                                            <h3 class="single-vehicle-heading">Vehicle Description</h3>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-center-sm text-center-xs text-right">
                                            <div class="single-vehicle-address ft-normal">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-vehicle-description">
                                        <p><strong>DESCRIPTION: </strong>{{ car.description }}.</p>
                                    </div>
                                </div>
                                <div class="single-vehicle-adv-list">
                                    <h3 class="single-vehicle-heading">Vehicle Information</h3>
                                    <div class="single-vehicle-features ft-normal">
                                        <ul class="clearfix">
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>MANUFACTURER: </strong>{{ car.manufacturer }}</li>
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>CATEGORY: </strong>{{ car.category }}</li>
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>YEAR: </strong>{{ car.year }}</li>
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>TRANSMISSION: </strong>{{ car.get_transmission }}</li>
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>DOORS: </strong>{{ car.doors }}</li>
                                            <li><i class="zmdi zmdi-check-circle"></i><strong>SEATS: </strong>{{ car.seats }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-vehicle-adv-list">
                                    <h3 class="single-vehicle-heading">Vehicle Features</h3>
                                    <div class="single-vehicle-features ft-normal">
                                        <ul class="clearfix">
                                            {% for feature in features %}
                                                <li><i class="zmdi zmdi-check-circle"></i>{{ feature }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </main>
                    </div><!-- #main -->
                    <div id="sidebar" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div id="widget-area" class="widget-area theiaStickySidebar" role="complementary">
                            <aside class="widget fs-contact-seller">
                                <h3 class="wg-title">Contact Dealer</h3>
                                <div class="fs-contact-seller-form">
                                    <div class="fs-contact-logo text-center"><img src="{% static 'Logo.png' %}"></div>
                                    <ul class="fs-contact-details">
                                        <li><span>Call: </span><a href="">{{ manager.phone_number }}</a></li>
                                        <li><span>Email: </span><a href="">{{ manager.email }}</a></li>
                                    </ul>

                                </div>
                            </aside>
                            <aside id="text-9" class="auto-banner widget widget_text"><div class="textwidget">
                                <h3>DO YOU NEED<cite> A CAR NOW</cite></h3>
                                <div>Don't waste your time, we'll find the vehicle you're looking for.</div>
                                <p><a class="btn btn-primary btn-block" href="{% url 'contact' %}">CONTACT DEALER</a></p>
                            </div>
                            </aside>

                        </div>
                    </div>
                </div>
            </div><!-- #primary -->

        </div><!-- .site-content -->
    </div><!-- .site -->
    <div id="back_to_top" class="back_to_top"><span class="go_up"><i class="fa fa-angle-up"></i></span></div>
    </body>
{% endblock content %}
{% block secundary_styles %}
    <link rel='stylesheet' id='js_composer_front-css'  href="{% static 'wp-content/plugins/js_composer/assets/css/js_composer.minc225.css'%}" type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'wp-content/plugins/js_composer/assets/lib/bower/flexslider/jquery.flexslider-minc225.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/cmsflexslider8a54.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store/assets/js/jquery.datetimepicker.full.mindc98.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/slider.mine899.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/jquery.ui.touch-punchc682.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/newsletter/subscription/validated6ea.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-seller/assets/vendor/jquery.validate/jquery.validate341d.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-seller/assets/js/contact-seller8a54.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-seller/assets/js/loan-calculator8a54.js'%}"></script>
{% endblock secundary_styles %}

