{% extends 'base.html' %}
{% load staticfiles %}
{% block primary_styles %}
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='animate.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/animate341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-ui.min.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/jquery-ui.min341d.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' id='fs_search_frontend.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/fs_search_frontend341d.css'%}" type='text/css' media='all' />
    <style id='static-inline-css' type='text/css'>
        body #cms-page-title {
            padding-top: ;
        }body #cms-page-title {
             padding-bottom: ;
         }body #cms-content.site-content {
              padding-top: 0;
          }body #cms-content.site-content {
               padding-bottom: 0;
           }
    </style>
    <link rel='stylesheet' id='js_composer_front-css'  href="{% static 'wp-content/plugins/js_composer/assets/css/js_composer.minc225.css'%}" type='text/css' media='all' />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% static 'wp-includes/wlwmanifest.xml'%}" />
    <meta name="generator" content="WordPress 4.8.5" />
    <meta name="generator" content="WooCommerce 3.2.1" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <style>
        /* Default hide the video on all devices */
        #video{display:none}
        /* Default display the image to replace the video on all devices */
        #videosubstitute{display:block;width:100%;-webkit-fill-available;;}

        .videoDiv {width: 100%; height: auto; position: relative;}
        .videoBlock {width: 100%; height: auto; }
        #video{
            width: 100%;
            height: auto;
            object-fit: cover;
            left: 0px;
            top: 0px;
            z-index: 1;
        }
        .videoMessage {width: 100%; height:100%; position: absolute; top: 25%; left: 0;}


        @media (min-aspect-ratio: 16/9) {
            #video{
                height: 150%;
                top: -100%;
            }
            #videosubstitute{
                display:block;
                width: 100%;
                height: -webkit-fill-available;}
        }

        @media (max-aspect-ratio: 16/9) {
            #video {
                left: -100%;
            }
            #videosubstitute{display:block;width: 100%; height: -webkit-fill-available;}
        }
        /*if there is 992  pixels or more, then display the video but hide the image*/
        @media only screen and (min-width : 992px) {
            #video{display:block;}
            #videosubstitute{display:none}
        }

        #messageBox{
            position: absolute;  top: 0;  left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height:100%;
        }
        #messageBox *{margin:0.2em}
        #messageBox div{text-align:center}
        #messageBox h1{
            color:white;
            letter-spacing: -2px;
            text-shadow:2px 2px 5px rgb(0,0,0);
            font-size:  4.5rem;
        }
        #messageBox h2{
            color:#ddd;
            font-size:  4.0rem;
            letter-spacing: -1px;
        }
        #messageBox h3{
            color:#bbb;
            font-size:  3.5rem;
            letter-spacing: -1px;
        }
        @media only screen and (min-width : 992px) {
            #messageBox h1{
                letter-spacing: 1px;
            }
        }
    </style>

{% endblock primary_styles %}
{% block content %}

    <body id="cms-theme" class="home page-template-default page page-id-1238 blog-type-content wpb-js-composer js-comp-ver-5.4.1 vc_responsive">
    <div id="cms-theme" class="home page-template-default page page-id-1238 blog-type-content wpb-js-composer js-comp-ver-5.4.1 vc_responsive">
        <div id="page-wrapper"
             class="hfeed site  cs-boxed  cms-page-in clearfix">
            <div id="cms-content" class="site-content">
                <div id="primary" class="container is-no-sidebar">
                    <div class="row">
                        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <main id="main" class="site-main">

                                <article id="post-1238" class="post-1238 page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div class="wpb_column vc_column_container vc_col-sm-12" style="height: auto;">
                                            <div class="vc_column-inner"style="height: auto;">
                                                <div class="wpb_wrapper" style="height: auto;">
                                                    <div class="videoDiv">
                                                        <div class="videoBlock">
                                                            <img src="{% static 'background.jpg' %}" id="videosubstitute" alt="Full screen background video">
                                                            <video preload="preload" id="video" autoplay="autoplay" loop="loop">
                                                                <source src="{% static 'vid.webm' %}" type="video/webm"></source>
                                                            </video>
                                                            <div class="videoMessage">
                                                                <h4 style="font-size: 38px;color: #ffffff;line-height: 28px;text-align: center" class="ft-mgr vc_custom_heading vc_custom_1501836461212"><span style="letter-spacing: 0.01em">Find your dream car with</span></h4>
                                                                <h1 style="font-size: 46px;color: #ffffff;line-height: 28px;text-align: center" class=" ft-mgb vc_custom_heading vc_custom_1501836480420"><span style="letter-spacing: 0.01em"><cite>DO YOU NEED</cite> A CAR NOW</span></h1>
                                                                <p style="font-size: 18px;color: rgba(255,255,255,0.87);line-height: 28px;text-align: center" class=" ft-mgl vc_custom_heading"><span style="letter-spacing: 0.01em">
                                                        <b>You’re bound to find the perfect car with DO YOU NEED A CAR NOW, our powerful
                                                        <br />search system lets you fine tune your search to exactly what you’re looking for.
                                                        </b></span></p>
                                                                <div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
                                                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                                    <div class="text-center text-center-xs wpb_column vc_column_container vc_col-sm-12">
                                                                        <div class="vc_column-inner ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="cms-button-wrapper  style-btn-primary-white-alt">
                                                                                    <a href="{% url 'car_list' %}" class="btn btn-primary-white-alt size-default" style="-webkit-border-radius: ; -moz-border-radius: ; border-radius: ">
                                                                                        <span class="btn-text"><span>VIEW ALL VEHICLES</span></span>
                                                                                    </a>
                                                                                </div>
                                                                                <div class="vc_empty_space"   style="height: 40px" ><span class="vc_empty_space_inner"></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1501821211002"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 52px" ><span class="vc_empty_space_inner"></span></div>
                                        <div class="fs-categories-wrap style1 ">
                                            <div class="fs-categories-view-all clearfix" style="text-align: center; font-size: 16px">
                                                <a href="{% url 'car_list' %}">View All Categories</a>
                                            </div>
                                            <div class="fs-categories-carousel fs-categories-items fs-carousel" data-dots="1" data-autoplay="1" data-loop="1" data-item-xs="1" data-item-sm="2" data-item-md="3" data-item-lg="4" data-margin="30">
                                                {% for category in category_list %}
                                                    <div class="fs-categories-item">
                                                        <a href="{% url 'car_list' %}?category={{ category.id }}" class="fs-category" style="background-image: url({{ category.image.url }});">
                                                            <span class="fs-category-title">{{ category.name }}</span>
                                                            <span class="fs-category-view">View Cars</span>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="vc_empty_space"   style="height: 60px" ><span class="vc_empty_space_inner"></span></div>
                                    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text" ><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span>
                                    </div><div class="vc_empty_space"   style="height: 70px" ><span class="vc_empty_space_inner"></span></div>
                                        <div class="fs-latest-car-wrap">
                                            <div class="fs-latest-filter-wrap fs-latest-car-filter" style="text-align: center;">
                                                <button class="fs-filter-item fs-filter-active" data-filter="*" style="font-size: 16px;">View All Cars for Sale</button>
                                            </div>
                                            <div class="fs-vehicle-wrapper fs-last-car-wrapper fs-layout-3 style1">
                                                <div class="fs-vehicle-items fs-latest-car-content clearfix fs-carousel-latest" data-item-xs="1" data-item-sm="2" data-item-md="3" data-item-lg="4" data-dots="1" data-autoplay="0" data-loop="1" data-margin="12">
                                                    {% for car in car_list %}
                                                        <div class="item " data-category="">
                                                            <article id="post-1449" class="post-1238 page type-page status-publish hentry">
                                                                <div class="fs-vehicle-grid">
                                                                    <div class="fs-vehicle-item">
                                                                        <div class="fs-vehicle-holder clearfix">
                                                                            <h2 class="fs-vehicle-title fs-vehicle-latest-title">
                                                                                <a href="{% url 'car_detail' pk=car.0.id %}" title="{{ car.0.name }}">{{ car.0.name }}</a>
                                                                            </h2>
                                                                        </div>
                                                                        <div class="fs-vehicle-images">
                                                                            <div class="fs-vehicle-gallery cms-images-zoom">
                                                                                <a class="z-view z-view-first fs-vehicle-gallery-item" href="{{ car.1.first.image.url }}"></a>
                                                                                {% for car_image in  car.1 %}
                                                                                    {% if forloop.counter != 1 %}
                                                                                        <a href="{{ car_image.image.url }}"
                                                                                           class="z-view fs-vehicle-gallery-item"
                                                                                           style="background-image: url({{ car_image.url }});"></a>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                            <a href="{% url 'car_detail' pk=car.0.id %}"><img src="{{ car.1.first.image.url }}" alt="{{ car.name }}" /></a>
                                                                        </div>

                                                                        <div class="fs-vehicle-content-inner">
                                                                            <div class="fs-vehicle-price cms-images-zoom clearfix">
                                                                                <div class="left">
                                                                                    {% if car.0.price == None %}Call me for price{% else %}$ {{ car.0.price|floatformat:0 }}{% endif %}
                                                                                </div>
                                                                                <div class="right">
                        <span class="grid-image-zoom-trigger fs-vehicle-feature-image">
                            <span class="fs-vehicle-gallery-count">
                                <i class="zmdi zmdi-collection-image-o"></i>{{ car.2 }}</span>
                        </span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="fs-vehicle-parameter clearfix">
                                                                                <ul>
                                                                                    <li class="icon-mi">
                                                                                        <span></span>{{ car.0.mileage }} Miles</li>
                                                                                    <li class="icon-hp">
                                                                                        <span></span>{{ car.0.year }}<p class="hp-number">{{ car.0.year }}</p>
                                                                                    </li>
                                                                                    <li class="icon-ge">
                                                                                        <span></span>{{ car.0.get_transmission }}</li>
                                                                                    <li class="icon-fu">
                                                                                        <span></span>{{ car.0.get_fuel_type }}</li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="fs-vehicle-button text-center clearfix">
                                                                                <a href="{% url 'car_detail' pk=car.0.id %}"
                                                                                   class="btn btn-primary-alt fs-vehicle-view-details">Details</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1500373933506 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1500546387497"><div class="wpb_wrapper"><div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text" ><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:#d8d8d8;" class="vc_sep_line"></span></span>
                                    </div><div class="vc_empty_space"   style="height: 90px" ><span class="vc_empty_space_inner"></span></div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner ">
                                            <article id="post-" class="post-1238 page type-page status-publish hentry">
                                                <div class="fs-vehicle-wrapper">
                                                    <div class="fs-vehicle-list-style2 ">
                                                        <div class="fs-vehicle-item">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 fs-vehicle-bxslider2">
                                                                    <div class="fs-advert-images">
                                                                        <span>Featured Ad</span><div class="cms-vehicle-images image-lg">
                                                                        <div class="cms-vehicle-slider flexslider">
                                                                            <ul class="slides cms-images-zoom">
                                                                                {% for car_image in  last.1 %}
                                                                                    <li>
                                                                                        <a class="z-view"
                                                                                           href="{{ car_image.image.url }}"
                                                                                           style="background-image: url({{ car_image.image.url }});"></a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                        <div id="cms-vehicle-thumbnail" class="flexslider">
                                                                            <ul class="slides">
                                                                                {% for car_image in  last.1 %}
                                                                                    <li>
                                                                                        <span style="background-image: url({{ car_image.image.url }});"></span>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                    <div class="fs-advert-contents">
                                                                        <h2 class="fs-vehicle-title">
                                                                            <a href="{% url 'car_detail' pk=last.0.id %}" title="{{ last.0.name }}">{{ last.0.name }}</a>
                                                                        </h2>
                                                                        <div class="fs-vehicle-description ft-normal">{{ last.0.description }}</div>
                                                                        <ul class="fs-vehicle-meta">
                                                                            <li>Year: <span>{{ last.0.year }}</span></li>
                                                                            <li>Transmission: <span>{{ last.0.get_transmission }}</span></li>
                                                                            <li>Fuel Type: <span>{{ last.0.get_fuel_type }}</span></li>
                                                                            <li>Doors: <span>{{ last.0.doors }}</span></li>
                                                                        </ul>
                                                                        <div class="fs-vehicle-holder">
                                                                            <div class="fs-vehicle-price">
                                                                                {% if last.0.price == None %}Call me for price{% else %}$ {{ last.0.price|floatformat:0 }}{% endif %}
                                                                            </div>
                                                                            <div class="fs-vehicle-details">
                                                                                <a href="{% url 'car_detail' pk=last.0.id %}">View More</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div></div></div>
                                    </div><div class="vc_empty_space"   style="height: 70px" ><span class="vc_empty_space_inner"></span></div>
                                    </div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid bg-primary vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1500348715752">
                                </div></div></div><div class="vc_row-full-width vc_clearfix"></div>


                                    <footer class="entry-meta">


                                    </footer><!-- .entry-meta -->
                                </article><!-- #post -->

                            </main><!-- .site-main -->
                        </div>
                    </div>
                </div><!-- .content-area -->

            </div><!-- .site-content -->
        </div><!-- .site -->

    </div>
    </body>
{% endblock content %}
{% block secundary_styles %}
    <link rel='stylesheet' id='cms-flexslider-css'  href="{% static 'wp-content/themes/autosmart/assets/css/flexslider6fca.css'%}" type='text/css' />
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/ui/slider.mine899.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-includes/js/jquery/jquery.ui.touch-punchc682.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/js_composer/assets/lib/bower/skrollr/dist/skrollr.minc225.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/jquery.owl-filter5152.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/jquery.fs-carousel5152.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/js_composer/assets/lib/bower/flexslider/jquery.flexslider-minc225.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/themes/autosmart/assets/js/cmsflexslider8a54.js'%}"></script>
{% endblock secundary_styles %}

