{% extends 'base.html' %}
{% load staticfiles %}

{% block primary_styles %}
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="AutosMart &raquo; Flex Store Feed" href="index7607.html?post_type=fs_product&amp;feed=rss2" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demo.cmssuperheroes.com\/themeforest\/autosmart\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.5"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='ithing.css-css'  href="{% static 'wp-content/plugins/flex-store-search/assets/css/iThing341d.css'%}"  type='text/css' media='all' />
    <link rel='stylesheet' id='newsletter-subscription-css'  href="{% static 'wp-content/plugins/newsletter/subscription/styled6ea.css'%}" type='text/css' media='all' />
    <link rel='https://api.w.org/' href='index52f0.json?rest_route=/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
{% endblock primary_styles %}

{% block content %}
    <style type="text/css" title="dynamic-css" class="options-output">.cshero-header-navigation .main-navigation .menu-main-menu li a{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{opacity: 0;}.ie.wf-loading .cshero-header-navigation .main-navigation .menu-main-menu li a,{visibility: hidden;}a{color:#dc0000;}a:hover{color:#bd0000;}body, body .ft-normal{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading body, body .ft-normal,{opacity: 0;}.ie.wf-loading body, body .ft-normal,{visibility: hidden;}h1{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h1,{opacity: 0;}.ie.wf-loading h1,{visibility: hidden;}h2{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h2,{opacity: 0;}.ie.wf-loading h2,{visibility: hidden;}h3{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h3,{opacity: 0;}.ie.wf-loading h3,{visibility: hidden;}h4{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h4,{opacity: 0;}.ie.wf-loading h4,{visibility: hidden;}h5{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h5,{opacity: 0;}.ie.wf-loading h5,{visibility: hidden;}h6{opacity: 1;visibility: visible;-webkit-transition: opacity 0.24s ease-in-out;-moz-transition: opacity 0.24s ease-in-out;transition: opacity 0.24s ease-in-out;}.wf-loading h6,{opacity: 0;}.ie.wf-loading h6,{visibility: hidden;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>
    <body id="cms-theme" class="archive post-type-archive post-type-archive-fs_product blog-type-content wpb-js-composer js-comp-ver-5.4.1 vc_responsive">
    <div id="page-wrapper"
         class="hfeed site  cs-wide  cms-page-in clearfix">

        <div id="cms-page-title"
             class="page-title text-left parallax"
             data-parallax="880"
             style="background-image: url({% static 'background.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="cms-page-title-inner col-md-12">
                        <h1>Search Cars</h1>
                        <span>Viewing all recently added vehicles. Start your search now.</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="cms-content" class="site-content">    <div id="primary" class="container is-left-sidebar">
            <div class="row">
                <div id="content" class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <main id="main" class="site-main">
                        <div class="fs-vehicle-wrapper fs-layout-1">
                            <div class="fs-sort-bar-wrapper">
                                <form class="fs-sort-bar row" method="post" name="fs_sort_by">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center-xs">
                                        <div class="fs-sort-by">
                                            <span class="fs-label">OUR INVENTARY</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right text-center-xs">
                                    </div>
                                    <input type="hidden" name="post_type" value="fs_product">
                                    <input type="hidden" name="fss-refine-manufacturer" class="fss-refine-manufacturer-extend">
                                    <input type="hidden" name="fss-refine-make" class="fss-refine-make-extend">
                                    <input type="hidden" name="fss-refine-price" class="fss-refine-price-extend">
                                    <input type="hidden" name="fss-refine-year" class="fss-refine-year-extend">
                                    <input type="hidden" name="fss-refine-mileage" class="fss-refine-mileage-extend">
                                    <input type="hidden" name="fss-refine-fuel" class="fss-refine-fuel-extend">
                                    <input type="hidden" name="fss-refine-gearbox" class="fss-refine-gearbox-extend">
                                    <input type="hidden" name="fss-refine-door" class="fss-refine-door-extend">
                                    <input type="hidden" name="fss-refine-colour" class="fss-refine-colour-extend">
                                    <input type="hidden" name="fss-refine-seller-type" class="fss-refine-seller-type-extend">
                                </form>
                            </div>                        <div class="fs-vehicle-items">
                            <article id="post-1205" class="post-1205 fs_product type-fs_product status-publish has-post-thumbnail hentry fscar-manufacturer-675lt-mclaren fscar-manufacturer-mclaren fscar-categories-performance fscar-categories-sports-cars fscar-tag-165 fscar-tag-675lt fscar-tag-mclaren fscar-tag-v8 fscar-interior-central-locking fscar-interior-cruise-control fscar-interior-dvd-player fscar-interior-multifunction-steering-wheel fscar-interior-radio-tuner fscar-interior-rain-sensor fscar-interior-start-stop-system fscar-interior-sunroof fscar-exterior-alloy-wheels fscar-exterior-exhaust-enhancement-pack fscar-exterior-metallic-paint">
                                <div class="fs-vehicle-list">
                                    {% for car in car_list %}
                                        <div class="fs-vehicle-item">
                                            <div class="fs-vehicle-holder clearfix">
                                                <h2 class="fs-vehicle-title"><a href="{% url 'car_detail' pk=car.0.id %}" title="{{ car.0.name }}">{{ car.0.name }}</a>
                                                </h2>
                                                <div class="fs-vehicle-price text-center"><span>{% if car.0.price == None %}Call me for price{% else %}$ {{ car.0.price|floatformat:0 }}{% endif %}</span></div>
                                            </div>
                                            <div class="fs-vehicle-content columns-same clearfix">
                                                <div class="fs-vehicle-ar-col1 col-same">
                                                    <div class="fs-vehicle-images cms-images-zoom">
                                                        <div class="fs-vehicle-gallery">
                                                            {% for car_image in car.1 %}
                                                                {% if forloop.counter != 1 %}
                                                                    <a href="{{ car_image.image.url }}" class="z-view fs-vehicle-gallery-item" style="background-image: url({{ car_image.image.url }});"></a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <a href="{{ car.1.first.image.url }}"
                                                           class="z-view fs-vehicle-feature-image"
                                                           style="background-image: url({{ car.1.first.image.url }});">
                                                            <span class="fs-vehicle-gallery-count"><i class="zmdi zmdi-collection-image-o"></i>{{ car.2 }}</span>
                                                        </a>

                                                    </div>
                                                </div>

                                                <div class="fs-vehicle-ar-col2 col-same">
                                                    <div class="fs-vehicle-content-inner">
                                                        <div class="fs-vehicle-description ft-normal">{{ car.0.description }}</div>
                                                        <div class="fs-vehicle-parameter clearfix">
                                                            <ul>
                                                                <li class="icon-mi"><span></span>{{ car.0.mileage }} Miles</li>
                                                                <li class="fa fa-calendar"><span></span><b style="font-family: 'Monrad Grotesk Semibold';">{{ car.0.year }}</b></li>
                                                                <li class="icon-hp"><span></span>{{ car.0.doors }} Doors</li>
                                                                <li class="icon-ge"><span></span>{{ car.0.get_transmission }}</li>
                                                                <li class="icon-fu"><span></span>{{ car.0.get_fuel_type }}</li>
                                                                <li class="icon-se"><span></span>{{ car.0.seats }} Seats</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="fs-vehicle-ar-col3 col-same text-center">
                                                    <a class="btn btn-sm" href="{% url 'car_detail' pk=car.0.id %}">View</a>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </article>                        </div>

                        </div>
                    </main><!-- .site-main -->
                </div>
                <div id="sidebar" class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <div id="widget-area" class="widget-area theiaStickySidebar" role="complementary">
                        <aside id="fss_widget-4" class="widget fss_refine_wg fss-vehicle-filter"><aside id="fss_widget-4" class="widget fss-vehicle-filter">
                            <form method="post" class="fss-refine-form" name="fss-refine-form">
                                {% csrf_token %}
                                <h3 class="wg-title">Refine Your Search</h3>
                                <div class="fss-filter-list">
                                    <div class="fss-filter-item fss-filter-model">
                                        <div class="fss-filter-label ">Manufacturers<span class="fss-filter-toggle"><i class="zmdi zmdi-chevron-down"></i></span></div>
                                        <div class="fss-filter-contents" >
                                            <div class="fss-filter-select-item">
                                                <div class="select-arrow">
                                                    <select name="fss-refine-manufacturer" class="fss-refine-manufacturer fss-refine-select">
                                                        {% if not manufacturer_selected %}
                                                            <option value="" selected="selected">All manufacturer</option>
                                                        {% else %}
                                                            <option value="">All manufacturer</option>
                                                        {% endif %}
                                                        {% for manufacturer in manufacturer_list %}
                                                            <option value="{{ manufacturer.id }}" {% if manufacturer.id == manufacturer_selected %}selected="selected"{% endif %}>{{ manufacturer.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <i class="zmdi zmdi-unfold-more"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fss-filter-item fss-filter-model">
                                        <div class="fss-filter-label ">Categories<span class="fss-filter-toggle"><i class="zmdi zmdi-chevron-down"></i></span></div>
                                        <div class="fss-filter-contents" >
                                            <div class="fss-filter-select-item">
                                                <div class="select-arrow">
                                                    <select name="fss-refine-category" class="fss-refine-category fss-refine-select">
                                                        {% if not category_selected %}
                                                            <option value="" selected="selected">All categories</option>
                                                        {% else %}
                                                            <option value="">All categories</option>
                                                        {% endif %}
                                                        {% for category in category_list %}
                                                            <option value="{{ category.id }}" {% if category.id == category_selected %}selected="selected"{% endif %}>{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <i class="zmdi zmdi-unfold-more"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fss-filter-item fss-filter-price" data-min="{{ price.0 }}" data-max="{{ price.1 }}">
                                        <div class="fss-filter-label fss-toggle-price ">Price<span class="fss-filter-toggle"><i class="zmdi zmdi-chevron-down"></i></span></div>
                                        <div class="fss-filter-contents" >
                                            <div id="fs_price_slider"></div>
                                            <div class="fs_price_slider_amount text-center">
                                                <div class="price_label">
                                                    Price: $<span name = "fs_price_from" class="fs_price_from"></span>
                                                    &mdash; $<span name = "fs_price_to"  class="fs_price_to"></span>
                                                </div>
                                                <input type="hidden" name="fss-refine-meta_price" id="fss-refine-meta_price"
                                                       data-price="{{ price_selected.0 }},{{ price_selected.1 }}"
                                                       class="fss-refine-price"
                                                       value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fss-filter-item fss-filter-year" data-min="{{ year_min }}">
                                        <div class="fss-filter-label fss-toggle-year ">Year<span class="fss-filter-toggle"><i class="zmdi zmdi-chevron-down"></i></span></div>
                                        <div class="fss-filter-contents" >
                                            <div id="fs_year_slider"></div>
                                            <div class="fs_year_slider_amount text-center">
                                                <div class="year_label">Year: <span class="fs_year_from">{{ year_min }}</span> &mdash; <span class="fs_year_to">{{ year_max }}</span></div>
                                                <input type="hidden" name="fss-refine-year" id="fss-refine-year" data-year="{{ year_min }},{{ year_max }}" class="fss-refine-year" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fss-filter-item fss-filter-fuel">
                                        <div class="fss-filter-label ">Fuel Type<span class="fss-filter-toggle"><i class="zmdi zmdi-chevron-down"></i></span></div>
                                        <div class="fss-filter-contents" >
                                            <div class="select-arrow">
                                                <select name="fss-refine-fuel_type" class="fss-refine-fuel fss-refine-select">
                                                    {% if not fuel_type_selected %}
                                                        <option value="" selected="selected">All fuel type</option>
                                                    {% else %}
                                                        <option value="">All fuel type</option>
                                                    {% endif %}
                                                    {% for fuel_type in fuel_type_list %}
                                                        <option value="{{ fuel_type.0 }}" {% if fuel_type.0 == fuel_type_selected %}selected="selected"{% endif %}>{{ fuel_type.1  }}</option>
                                                    {% endfor %}
                                                </select>
                                                <i class="zmdi zmdi-unfold-more"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <center style="margin: 1rem;"><button type="submit" class="btn btn-sm fss-btn" id="boton">Filter</button></center>
                            </form>
                        </aside>
                        </aside>
                        <aside id="text-9" class="auto-banner widget widget_text"><div class="textwidget">
                            <h3>DO YOU NEED<cite> A CAR NOW</cite></h3>
                            <div>Don't waste your time, we'll find the vehicle you're looking for.</div>
                            <p><a class="btn btn-primary btn-block" href="{% url 'contact' %}">CONTACT DEALER</a></p>
                        </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div><!-- .content-area -->

        </div><!-- .site-content -->
    </div><!-- .site -->
    <div id="back_to_top" class="back_to_top"><span class="go_up"><i class="fa fa-angle-up"></i></span></div>
    </body>
{% endblock content %}

{% block secundary_styles %}
    <link rel='stylesheet' id='js_composer_front-css'  href="{% static 'wp-content/plugins/js_composer/assets/css/js_composer.minc225.css' %}" type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-search/assets/js/jquery-uidc98.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-search/assets/js/jQAllRangeSliders-mindc98.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/newsletter/subscription/validated6ea.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-seller/assets/vendor/jquery.validate/jquery.validate341d.js'%}"></script>
    <script type='text/javascript' src="{% static 'wp-content/plugins/flex-store-seller/assets/js/loan-calculator8a54.js'%}"></script>
{% endblock secundary_styles %}
